<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>

<center>
    <h1>Crud Operations Using Class based Views</h1>
<br>
    <p><h3>We can write our API views using class-based views, rather than function based views.<br>
    As we'll see this is a powerful pattern that allows us to reuse common functionality, and helps us keep our code DRY.<br><br>
Here are some ways to use inbuilt classes to perform customized CRUD operations</h3></p>
        <a href=" http://{{ domain }}/apiview/"><h3>API view </h3></a>
    <br> <a href=" http://{{ domain }}/mixingeneric/"><h3>Concrete APIView (GenericAPIView + Mixin View)</h3></a>
    <br> <a href=" http://{{ domain }}/generic/"><h3>Generic View</h3></a>
    <br> <a href=" http://{{ domain }}/viewset/"><h3>Viewset with Router</h3></a>

</center>
</body>
</html>